/* 通用短类集	*/

/****** Short *******/

.fll { float: left }
.flr { float: right }

.dib{ display: inline-block; }

.pdz{ padding:0 !important; }
.pds{ padding: 10px; }
.pdhs{ padding-left: 10px; padding-right: 10px; }
.pdhh{ padding-left: 15px; padding-right: 15px; }
.pdhn{ padding-left: 20px; padding-right: 20px; }
.pdvs{ padding-top: 10px; padding-bottom: 10px; }

.mgbz{ margin-bottom: 0!important; }
.bdbgr{ border-bottom: 1px solid #DFDFDF; }

.bgw{ background-color: #FFF!important; }
.bggr{ background-color: #ecedf0; }

.xcw{ color: #FFF; }
.xcm{ color: #58585C; } /* 主文字颜色 */
.xca{ color: #82939E; } /* 辅助文字颜色 */
.xcn{ color: #B2C0D1; } /* 注释文字颜色 */

.vat{ vertical-align: top; }

.xac{ text-align: center; }


.hide{ display: none; }
.hideim{ display: none !important; }

.curp { cursor: pointer; }

