.main-bg { 
	background:url(images/bg.jpg);
}
.home-item a {
	/*float:left;*/
	display:inline-block;
	width:25%;
	margin:1em 0 0;
	text-align:center;
	list-style:none;
	text-decoration:none;
	color:#333;
}
.home-item a:active i{
	box-shadow:0 .1em .3em rgba(0, 0, 0, 0.5) , inset 0 0 100px rgba(0,0,0,.2);
}
.item-ico {
	display:block;
	height:60px;
	width:60px;
	margin:.5em auto;
	border-radius:25%;
	box-shadow:0 .1em .3em rgba(0, 0, 0, 0.5);
	-webkit-background-size:auto 100%;
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.ico-article {
	background-image:url('../images/ico/article.png');
}
.ico-mail {
	background-image:url('../images/ico/mail.png');
}
.ico-calendar {
	background-image:url('../images/ico/calendar.png');
}
.ico-work {
	background-image:url('../images/ico/work.png');
}
.ico-diary {
	background-image:url('../images/ico/diary.png');
}
.ico-report {
	background-image:url('../images/ico/report.png');
}
.ico-doc {
	background-image:url('../images/ico/doc.png');
}
.ico-phonebook {
	background-image:url('../images/ico/phonebook.png');
}
.ico-more {
	background-image:url('../images/ico/more.png');
	box-shadow:none;
}

/* -------------------- */
.list-ico li i{
	margin-right:4px;
	float: left;
	margin-top: -5px;
}



/*------- Icon -------*/
.o-mark,
.o-delete,
.o-download,
.o-download-gray,
.o-more,
.o-more-gray,
.o-picture,
.o-camera,

.o-msg-personal,
.o-msg-system,

.o-send,
.o-inbox,
.o-reply,
.o-reply-all,
.o-draft,
.o-folder,

.o-news-all,
.o-news-read,
.o-news-catnew,
.o-news-cat{
	display: inline-block;
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	-webkit-background-size: 22px 22px;
	background-size: 22px 22px;
	vertical-align: middle;
}
/* Icon common */
.o-mark{ background-image: url(../images/act/mark.png);}
.o-delete{ background-image: url(../images/act/trash.png); }
.o-send{ background-image: url('../images/act/send.png'); }
.o-download{ background-image: url(../images/act/download.png); }
.o-download-gray{ background-image: url(../images/act/downloadgray.png); }
.o-more{ background-image: url(../images/act/more.png); }
.o-more-gray{ background-image: url(../images/act/moregray.png); }
.o-picture{ background-image: url(../images/act/picture.png); }
.o-camera{ background-image: url(../images/act/camera.png); }

/* Icon msg */
.o-msg-personal{ background-image: url(../images/msg/msg.png);}
.o-msg-system{ background-image: url(../images/msg/ring.png); }

/* Icon mail*/
.o-inbox{ background-image: url('../images/mail/inbox.png'); }
.o-reply{ background-image: url(../images/mail/reply.png); }
.o-reply-all{ background-image: url(../images/mail/replyall.png); }
.o-draft{background-image: url('../images/mail/draft.png'); }
.o-folder{background-image: url('../images/mail/folder.png'); }

/* Icon news */
.o-news-all{background-image: url('../images/news/all.png'); }
.o-news-read{background-image: url('../images/news/read.png'); }
.o-news-catnew{background-image: url('../images/news/new.png'); }
.o-news-cat{background-image: url('../images/news/cat.png'); }


/* --------- Login ----------- */
.login{
	position: relative;
	height:100%;
	min-height:440px;
	padding: 0 10px;
}
.login .logo,
.login .loginbar,
.login .sign{
	text-align:center;
}
.login img {
	border: 0;
	max-width: 80%;
	height: auto;
	margin:20px auto;
}
.sign {
	position: absolute;
	bottom:-20px;
}