.work-handle-tab{ position: fixed; width: 100%; top: 44px; z-index: 1000;}
.work-handle-mainer{ padding-top: 44px; }

#work_handle_form_content input[type="radio"] {
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background-color: #ECEDF0;
}
#work_handle_form_content input[type="radio"].checked { background-color: #3497DB; }
#afui.ibos #work_handle_form_content .controls label{	margin: 0 0 0 10px;padding: 0; }