<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id = "cn.com.ibos.push" 
    version = "0.1.0"> <!-- 注释：应用唯一ID --> <!-- 注释：应用版本-->
    <name>IBOS推送</name><!-- 注释：应用名称，显示在移动终端桌面上和应用Logo一起 -->
    <description><!-- 注释：应用描述 -->
        IBOS推送测试
    </description>
    <author href="http://www.ibos.com.cn" email="Aeolus@ibos.com.cn"> 
        Aeolus <!-- 注释：作者信息 -->
    </author>
    <gap:platforms> <!-- 注释：支持平台 -->
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="winphone" />
    </gap:platforms>
	<preference name="phonegap-version" value="2.9.0" /> <!-- 注释：版本-->
	<!--  图标
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
	
	<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	-->

	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <icon src="res/icon/ios/icon-57-2x.png" gap:role="default" /> <!-- 注释：应用Logo，显示在移动终端桌面上和应用名称一起 -->
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png"/> <!-- 注释： 程序启动时显示图像-->
    <!--  程序需使用的权限	
    -->
	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
	<gap:plugin name="com.phonegap.plugins.pushplugin" version="1.3.7" />
	<access origin="*" />
</widget>