<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "cn.com.ibos.push"
		versionCode = "10" 
        version     = "0.1.0" > <!-- 注释：应用唯一ID --> <!-- 注释：应用版本-->
    <name>IBOS平台</name><!-- 注释：应用名称，显示在移动终端桌面上和应用Logo一起 -->
    <description><!-- 注释：应用描述 -->
        IBOS平台测试用版本
    </description>
    <author href="http://www.ibos.com.cn" email="Aeolus@ibos.com.cn"> 
        Aeolus <!-- 注释：作者信息 -->
    </author>
    <gap:platforms> <!-- 注释：支持平台 -->
		<gap:platform name="ios" />
		<gap:platform name="android" />
    </gap:platforms>
	<preference name="phonegap-version" value="3.1.0" /> <!-- 注释：版本-->
	<preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />

	<icon src="icon.png" />
    <icon src="res/icon/ios/icon-57-2x.png" gap:role="default" /> <!-- 注释：应用Logo，显示在移动终端桌面上和应用名称一起 -->
	<gap:splash src="splash" />
	<gap:splash src="res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136" /><!-- 注释： 程序启动时显示图像-->
    <!--  程序需使用的权限	
		<feature name="http://api.phonegap.com/1.0/battery"/>
		<feature name="http://api.phonegap.com/1.0/camera"/>
		<feature name="http://api.phonegap.com/1.0/contacts"/>
		<feature name="http://api.phonegap.com/1.0/file"/>
		<feature name="http://api.phonegap.com/1.0/geolocation"/>
		<feature name="http://api.phonegap.com/1.0/media"/>
		<feature name="http://api.phonegap.com/1.0/network"/>
		<feature name="http://api.phonegap.com/1.0/notification"/>
    -->	

	<feature name="Camera">
		<param name="ios-package" value="CDVCamera" />
	</feature>
	<feature name="File">
		<param name="ios-package" value="CDVFile" />
	</feature>
	<feature name="FileTransfer">
		<param name="ios-package" value="CDVFileTransfer" />
	</feature>
	<feature name="Geolocation">
		<param name="ios-package" value="CDVLocation" />
	</feature>
	<feature name="Notification">
		<param name="ios-package" value="CDVNotification" />
	</feature>

	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="org.apache.cordova.media-capture" />
	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.file-transfer" />
	<gap:plugin name="org.apache.cordova.contacts" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.media" />
	<gap:plugin name="org.apache.cordova.dialogs" />

	<gap:plugin name="org.apache.cordova.splashscreen" />
	<!-- preference name="splashscreen" value="foo" /-->

	<gap:plugin name="com.phonegap.plugins.barcodescanner" />
	<gap:plugin name="com.phonegap.plugins.pushplugin" />
	<access origin="*" />
</widget>